.filter {
  display: none;
}

@media (min-width: 1024px) {
  .filter {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .filterListCategoriesGroup {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border: 1px solid #e7eaf0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 4px 0;
  }
  .filterCategoryType {
    display: flex;
    flex-wrap: wrap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #7175d8;
  }
  .filterItemType {
    padding: 10px 20px;
  }
  .filterItemType:not(:last-child) {
    border-right: 1px solid #e7eaf0;
  }
  .filterItemType:focus,
  .filterItemType:active {
    background-color: #e5e6f8;
    border-radius: 4px;
    color: #7175d8;
  }
  .filterItemType a {
    color: #9fa4af;
  }
  .filterItemType a:hover,
  .filterItemType a:focus,
  .filterItemType a:active {
    color: #7175d8;
  }
}

@media (min-width: 1280px) {
  .filter {
    flex-direction: initial;
  }
  .filterListCategoriesGroup {
    margin: 0;
  }
}

@media (min-width: 1600px) {
  .filter {
    justify-content: space-between;
    width: 71%;
  }
  .filterItemType {
    padding: 17px 8px;
  }
  .filterCategoryType {
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  /* .container {
      max-width: 1736px;
    } */
}
