.header {
  background-color: #ffffff;
}

.container {
  max-width: 336px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.headerMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 767px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .header {
    position: relative;
    border-bottom: 1px solid #e7eaf0;
    box-shadow: 0px 6px 18px #e2e5eb;
  }
  .container {
    max-width: 990px;
    display: inherit;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1736px;
  }
}
