/* SEARCH */

.searchSection {
  margin: 0 auto;
}

.container {
  max-width: 336px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 10px;
  position: relative;
}

.searchInput {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  width: 240px;
  padding: 13px 0 16px 40px;
  color: #6e73f0;
  background: #ffffff;
  border: 1px solid #e7eaf0;
  border-radius: 4px;
  outline: none;
}

.searchInput:hover {
  box-shadow: 0px 2px 4px #11115714;
}

.searchInput:focus,
.searchInput:active {
  border: 1px solid #6e73f0;
}

.searchInput::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding-left: 4px;
}

.searchInput:focus::placeholder {
  text-align: end;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  padding-right: 18px;
  /* identical to box height */
  text-transform: uppercase;
  color: #6e73f0;
}

.searchIcon {
  position: absolute;
  content: '';
  background-image: url(../../assets/img/search/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  left: 24px;
  bottom: 30px;
}

/* it's doesn't work*/

.searchIcon:hover,
.searchIcon:focus,
.searchIcon:active {
  background-image: url(../../assets/img/search/blue-search.svg);
}

.filterButton {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 88px;
  color: #9191b1;
  background-color: #ffffff;
  border: 1px solid #e7eaf0;
  border-radius: 4px;
  padding: 16px 0;
}

.filterButton:hover {
  box-shadow: 0px 2px 4px #11115714;
  border-radius: 4px;
}

.filterButton:focus,
.filterButton:active {
  background: #e5e6f8;
  border: 1px solid #6e73f0;
  box-sizing: border-box;
  border-radius: 4px;
  outline-color: #6e73f0;
  color: #6e73f0;
}

@media (min-width: 767px) {
  .container {
    max-width: 560px;
  }
  .searchInput {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 990px;
  }
  .filterButton {
    display: none;
  }
  .searchForm {
    flex-direction: column;
  }
  .searchInput {
    margin-bottom: 24px;
  }
  .searchIcon {
    top: 26%;
    left: 32%;
    transform: translate(-50%, -50%);
  }
}
