.logoImg {
  width: 122px;
  margin-right: 68px;
}

@media (min-width: 767px) {
  .logoImg {
    width: 183px;
    margin-right: 212px;
  }
}

@media (min-width: 1024px) {
  .logoImg {
    margin-right: 0;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1736px;
  }
}
