.teamSettings {
  margin-bottom: 20px;
  width: 320px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.settings {
  position: relative;
}

.setting::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.setting:first-child {
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid #6e73f0;
  border-radius: 4px;
  cursor: pointer;
}

.setting:first-child::before {
  position: absolute;
  content: '';
  background-image: url(../../../assets/img/settings/blue-bell.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  left: 60px;
}

.setting:first-child a {
  color: #6e73f0;
  outline: none;
}

.setting:first-child:hover,
.setting:first-child:focus {
  background-color: #e5e6f8;
  border: 1px solid #6569db;
  border-radius: 4px;
  transition: 0.2s ease 0.2s;
}

.setting:first-child a:active,
.setting:first-child:active {
  background-color: #e5e6f8;
  border: 1px solid #6569db;
  border-radius: 4px;
  transition: 0.2s ease 0.2s;
}

.setting:nth-child(2)::before {
  background-image: url(../../../assets/img/settings/person.svg);
  left: 76px;
}

.setting:last-child::before {
  background-image: url(../../../assets/img/settings/pen.svg);
  left: 63px;
}

.setting:not(:first-child) {
  margin-bottom: 12px;
  padding: 12px;
  background: #6e73f0;
  border: 1px solid #6e73f0;
  border-radius: 4px;
  cursor: pointer;
}

.setting:not(:first-child) a {
  color: #ffffff;
  outline: none;
}

.setting:not(:first-child):hover,
.setting:not(:first-child):focus {
  border: 1px solid #6e73f0;
  background-color: #6e73f0;
  box-shadow: 0px 4px 16px #6e73f052;
  border-radius: 4px;
  transition: 0.2s ease 0.2s;
}

.setting:not(:first-child) a:active,
.setting:not(:first-child):active {
  background-color: #6569db;
  border-radius: 4px;
  transition: 0.2s ease 0.2s;
}

@media (min-width: 767px) {
  .teamSettings {
    margin-bottom: 0;
    width: inherit;
  }
  .settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .setting {
    width: 200px;
    position: relative;
  }
  .setting:not(:first-child) a {
    padding-left: 18px;
  }
  .setting:first-child {
    width: 232px;
    padding-left: 48px;
  }
  .setting:first-child::before {
    left: 26px;
  }
  .setting:nth-child(2)::before {
    left: 22px;
  }
  .setting:last-child::before {
    left: 10px;
  }
}

@media (min-width: 1024px) {
  .teamSettings {
    display: flex;
    flex-direction: row-reverse;
    max-width: 840px;
    margin: 20px auto 0;
    justify-content: space-between;
  }
  .setting:last-child {
    width: 40px;
    padding: 0;
  }
  .setting:last-child a {
    visibility: hidden;
  }
  .setting:not(:last-child) {
    margin-right: 16px;
  }
  .setting:nth-child(2)::before {
    left: 12px;
  }
  .setting:last-child::before {
    top: 10px;
    left: 12px;
  }
  .userChoosedTeam {
    background-image: url(../../../assets/img/sideBar/background-of-team-title-1.svg);
    background-repeat: no-repeat;
  }
  .choosedTeamName {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #111157;
    padding-left: 48px;
    text-transform: lowercase;
  }
  .choosedTeamName::first-letter {
    text-transform: uppercase;
  }
  .choosedDescriptionTeam {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #9fa4af;
    padding-left: 48px;
    text-transform: lowercase;
  }
  .choosedDescriptionTeam::first-letter {
    text-transform: uppercase;
  }
}

@media (min-width: 1280px) {
  .teamSettings {
    margin-top: 50px;
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .teamSettings {
    max-width: 1500px;
  }
  .choosedTeamName {
    font-size: 29px;
    line-height: 30px;
  }
  .choosedDescriptionTeam {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (min-width: 1920px) {
  .teamSettings {
    max-width: 1736px;
  }
}
