/* TEAM CARDS */

/* 
.teamCardsSection {} 
.teamMemberCards {}
*/

.container {
  max-width: 336px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

.teamMemberInfoCard {
  background: #ffffff;
  border: 1px solid #e7eaf0;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 336px;
}

.teamMemberInfoCard:hover {
  box-shadow: 0px 6px 18px #e2e5eb;
  transition: 0.5s ease;
}

/* .member {} */

.mamberInfo {
  display: flex;
  flex-wrap: inherit;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mamberInfo::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../../assets/img/grey-bell-mobile.svg);
  background-repeat: no-repeat;
  top: 12px;
  right: 12px;
}

.memberAvatar {
  position: relative;
  width: 88px;
  padding: 48px 0 0 0;
  margin: 0 0 18px 0;
}

.memberAvatar::before,
.memberAvatar::after {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  width: 24px;
  height: 24px;
}

.memberAvatar::before {
  background-image: url(../../assets/img/member-status/blue-bell.svg);
  left: 0;
}

.memberAvatar::after {
  background-image: url(../../assets/img/member-status/checked.svg);
  bottom: 0;
}

.memberStatus {
  position: relative;
}

.memberStatus::before,
.memberStatus::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
}

.memberStatus::before {
  background-image: url(../../assets/img/member-status/smile.svg);
  top: 47px;
  left: 64px;
  z-index: 1;
}

.memberStatus::after {
  background-image: url(../../assets/img/member-status/stop.svg);
  bottom: 18px;
  left: 64px;
}

.memberName {
  font-family: TT Norms Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #5b72d5;
  margin: 0 0 5px 0;
}

.memberPosition {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9fa4af;
  margin-bottom: 32px;
}

.memberActivities {
  padding: 0 0 24px;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  width: 128px;
  background-color: #f6f8fa;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 8px;
  padding: 15px 0;
  position: relative;
}

.activity::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 8px;
  right: 10px;
  color: #dcdfeb;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/percent.svg);
}

.activity:first-child::before {
  background-image: url(../../assets/img/hurd.svg);
}

.activity:nth-child(odd) {
  margin-right: 8px;
}

.activity:first-child {
  color: #e6a647;
}

.activity:nth-child(2) {
  color: #5ecba1;
}

.activity:nth-child(3) {
  color: #f06563;
}

.activity:nth-child(4) {
  color: #6e73f0;
}

.percentOfActivity {
  font-family: TT Norms Pro;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
}

.activityName {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 16px;
  color: #9fa4af;
}

@media (min-width: 767px) {
}
